{
  "openapi": "3.1.0",
  "info": {
    "title": "TagLogger Developer API",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary"
    },
    "summary": "Read tag locations and history, sync your fleet, manage geofences and signed event webhooks, and mint public tag share links.",
    "description": "The TagLogger Developer API exposes your workspace's tag locations, location history,\ngeofence configuration, and outbound event webhooks over a versioned REST surface.\n\n## Authentication\nEvery request (except these docs) requires a workspace API key, sent either as\n`Authorization: Bearer <key>` or as the `X-API-Key` header. Keys are scoped and\nrevocable; the raw key is shown only once at creation. Live keys are prefixed\n`tl_live_` and test keys `tl_test_`.\n\n## Scopes\n- `read:tags` — list and read tags and their current location summary.\n- `read:locations` — read precise current location, location history, and fleet delta.\n- `read:geofences` — list and read geofence configuration.\n- `manage:geofences` — create, update, and delete geofences.\n- `manage:webhooks` — create, read, update, delete, rotate, and test webhook subscriptions.\n- `read:share-links` — list and read tag share links.\n- `manage:share-links` — create and revoke tag share links.\n\n## Pagination\nList endpoints return `{ data, nextCursor }`. When `nextCursor` is non-null, pass it back\nas the `cursor` query parameter to fetch the next page; a null `nextCursor` means the end.\n\n## Idempotency\nCreate endpoints (POST `/v1/geofences`, `/v1/webhooks`, `/v1/share-links`) accept an\noptional `Idempotency-Key` request header so a retry after a network failure does not\ncreate a duplicate. Pick a unique key per logical create (a UUID is ideal). The first\nrequest runs and its response is recorded; a later request with the same key replays that\nrecorded response and adds an `Idempotent-Replayed: true` header, instead of creating a\nsecond resource. Reusing a key with a different request body returns `409`\n`idempotency_key_reused`; a request with the same key still in flight returns `409`\n`idempotency_conflict` (retry shortly). Keys are scoped to your workspace and recorded\nresponses expire after 24 hours. The header is optional — omit it and the endpoint behaves\nexactly as before.\n\n## Rate limits\nResponses carry both header families with identical budget values: the legacy\n`X-RateLimit-Limit` / `X-RateLimit-Remaining` / `X-RateLimit-Reset` set (where\n`X-RateLimit-Reset` is a Unix epoch in seconds) and the IETF-standard\n`RateLimit-Limit` / `RateLimit-Remaining` / `RateLimit-Reset` set (where\n`RateLimit-Reset` is delta-seconds until the window resets). Prefer the\n`RateLimit-*` names in new integrations. Exceeding the limit returns `429`\nwith a `Retry-After` header.\n\n## Versioning & deprecation\nThe API is versioned in the path (`/v1`). Additive, backward-compatible changes\n(new endpoints, new optional fields, new enum values on response-only fields) ship\nwithin `/v1` without notice, so write tolerant clients: ignore unknown JSON fields,\nand treat an unrecognized response-side enum value (for example an error `code` or a\nwebhook `event`) by its HTTP status and human-readable message rather than failing.\nBreaking changes are introduced under a new version path (`/v2`); `/v1` is not removed\nout from under you. When an endpoint or version is scheduled for retirement we announce\nit in the changelog and emit RFC 8594 `Deprecation` and `Sunset` response headers ahead\nof the end-of-life date.\n\n## Errors\nErrors use the envelope `{ \"error\": { \"code\": string, \"message\": string } }`.\nThe `code` set may grow over time; match on it when you recognize it and fall back to\nthe HTTP status otherwise.",
    "contact": {
      "name": "TagLogger API documentation",
      "url": "https://taglogger.com/docs/quickstart"
    }
  },
  "servers": [
    {
      "url": "https://api.taglogger.com",
      "description": "TagLogger API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Tags",
      "description": "Tag inventory, current location, and history."
    },
    {
      "name": "Fleet",
      "description": "Sync primitives for keeping a local mirror up to date."
    },
    {
      "name": "Geofences",
      "description": "Read and manage geofence configuration."
    },
    {
      "name": "Webhooks",
      "description": "Manage signed outbound event subscriptions."
    },
    {
      "name": "Share Links",
      "description": "Mint and revoke public, expiring tag share links."
    },
    {
      "name": "Account",
      "description": "Workspace profile, plan, and API usage."
    },
    {
      "name": "Meta",
      "description": "Machine-readable documentation."
    }
  ],
  "paths": {
    "/v1/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Returns the workspace's tags. Honors the key's tag scope (a scoped key sees only its named tags). Requires `read:tags`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items to return (default 50, max 200). Values above 200 are clamped to 200; a missing, zero, negative, or non-numeric value falls back to 50 (the request is not rejected).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a prior response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TagList"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tags/{tagId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TagId"
        }
      ],
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "getTag",
        "summary": "Get a tag",
        "description": "Returns a single tag. Out-of-scope or unknown tags both return 404 (no existence disclosure). Requires `read:tags`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Tag"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tags/{tagId}/location": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TagId"
        }
      ],
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "getTagLocation",
        "summary": "Get a tag's current location",
        "description": "Returns the tag's most recent location. `data` is null when there is no fix, no linked hardware, or recording is paused (`recordingPaused: true`). Requires `read:locations`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TagLocation"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tags/{tagId}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TagId"
        }
      ],
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "getTagHistory",
        "summary": "Get a tag's location history",
        "description": "Returns recorded location points in a time window (default: last 7 days). Not suppressed by recording pause — pause stops new points but never deletes the existing trail. Requires `read:locations`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items to return (default 200, max 1000). Values above 1000 are clamped to 1000; a missing, zero, negative, or non-numeric value falls back to 200 (the request is not rejected).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a prior response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Window start: ISO-8601 timestamp or epoch milliseconds (inclusive). Defaults to `end` minus 7 days.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Window end: ISO-8601 timestamp or epoch milliseconds (inclusive). Defaults to now.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort by timestamp.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TagHistory"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/tags/{tagId}/battery": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TagId"
        }
      ],
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "getTagBattery",
        "summary": "Get a tag's battery status",
        "description": "Returns the tag's last reported battery state. `level` is reserved and currently always null; `status` is a coarse integer code (null when the tag has no hardware, no reading yet, or is out of the key's scope). Out-of-scope or unknown tags return 404. Requires `read:tags`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TagBattery"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/fleet/delta": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "operationId": "getFleetDelta",
        "summary": "Fleet delta sync",
        "description": "Returns tags whose location advanced after `since`, ordered for tie-safe pagination. Page with `cursor` until `nextCursor` is null, then carry the max `lastSeenAt` forward as the next `since`. Requires `read:locations`.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return tags seen strictly after this time: ISO-8601 or epoch milliseconds (exclusive). Defaults to the epoch (full sync).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items to return (default 100, max 500). Values above 500 are clamped to 500; a missing, zero, negative, or non-numeric value falls back to 100 (the request is not rejected).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a prior response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FleetDelta"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/geofences": {
      "get": {
        "tags": [
          "Geofences"
        ],
        "operationId": "listGeofences",
        "summary": "List geofences",
        "description": "Returns the workspace's geofence configuration. Requires `read:geofences`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items to return (default 50, max 200). Values above 200 are clamped to 200; a missing, zero, negative, or non-numeric value falls back to 50 (the request is not rejected).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a prior response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GeofenceList"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Geofences"
        ],
        "operationId": "createGeofence",
        "summary": "Create a geofence",
        "description": "Creates a circular geofence. Entry and exit are always tracked; subscribe a webhook to `geofence.entry` / `geofence.exit` / `geofence.dwell` to receive events. In-app email and push channels are dashboard-only and are never enabled by an API write. Send an `Idempotency-Key` header to make a retry safe. Requires `manage:geofences`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGeofenceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Geofence"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/geofences/{geofenceId}": {
      "parameters": [
        {
          "name": "geofenceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Geofences"
        ],
        "operationId": "getGeofence",
        "summary": "Get a geofence",
        "description": "Returns a single geofence configuration. Requires `read:geofences`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Geofence"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "tags": [
          "Geofences"
        ],
        "operationId": "updateGeofence",
        "summary": "Update a geofence",
        "description": "Updates name, center, radiusMeters, targetTagIds, and/or dwell alerts (any subset). A partial geometry edit is merged against the existing circle and re-validated. Requires `manage:geofences`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGeofenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Geofence"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Geofences"
        ],
        "operationId": "deleteGeofence",
        "summary": "Delete a geofence",
        "description": "Permanently deletes the geofence. Requires `manage:geofences`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GeofenceDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhooks",
        "summary": "List webhook subscriptions",
        "description": "Returns the workspace's API-managed webhook subscriptions. Signing secrets are never returned on reads. Requires `manage:webhooks`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items to return (default 50, max 200). Values above 200 are clamped to 200; a missing, zero, negative, or non-numeric value falls back to 50 (the request is not rejected).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a prior response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookList"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Create a webhook subscription",
        "description": "Registers an HTTPS endpoint for signed event deliveries. The signing secret is returned exactly once in this response. Send an `Idempotency-Key` header to make a retry safe. Requires `manage:webhooks`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/WebhookCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}": {
      "parameters": [
        {
          "name": "webhookId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhook",
        "summary": "Get a webhook subscription",
        "description": "Returns a single webhook subscription (no signing secret). Requires `manage:webhooks`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhook"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "updateWebhook",
        "summary": "Update a webhook subscription",
        "description": "Updates url, events, label, and/or active state. Requires `manage:webhooks`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhook"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook subscription",
        "description": "Permanently deletes the subscription. Requires `manage:webhooks`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookDeleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}/rotate-secret": {
      "parameters": [
        {
          "name": "webhookId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "rotateWebhookSecret",
        "summary": "Rotate a webhook signing secret",
        "description": "Generates a new signing secret and returns it once. The previous secret stops being valid immediately. Requires `manage:webhooks`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookWithSecret"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}/test": {
      "parameters": [
        {
          "name": "webhookId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "testWebhook",
        "summary": "Send a test delivery",
        "description": "Synthesizes a sample signed `tag.moved` event (test: true) and delivers it to the subscription's URL through the same signing and transport path as production deliveries, returning whether the endpoint accepted it. Requires `manage:webhooks`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookTestResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}/deliveries": {
      "parameters": [
        {
          "name": "webhookId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhookDeliveries",
        "summary": "List delivery attempts",
        "description": "Returns a page of delivery records for this subscription, newest first — one record per event the platform attempted to deliver, with its current status (`delivered`, `failed`, `permanent_failed`, or in-flight) and attempt count. Use it to confirm receipt or diagnose a failing endpoint. Each record carries the `eventId` that matches the `id` field in the delivered payload, so you can correlate it with what your endpoint received. The outbound payload body is not echoed back. Records are retained for a limited window, then expire. Requires `manage:webhooks`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items to return (default 50, max 200). Values above 200 are clamped to 200; a missing, zero, negative, or non-numeric value falls back to 50 (the request is not rejected).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a prior response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookDeliveryList"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/share-links": {
      "get": {
        "tags": [
          "Share Links"
        ],
        "operationId": "listShareLinks",
        "summary": "List tag share links",
        "description": "Returns the workspace's share links, including expired and revoked ones, for tags within the key's tag scope. Tokens are never returned on reads. Requires `read:share-links`.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items to return (default 50, max 200). Values above 200 are clamped to 200; a missing, zero, negative, or non-numeric value falls back to 50 (the request is not rejected).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a prior response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "query",
            "required": false,
            "description": "Filter to share links for a single tag.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShareLinkList"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Share Links"
        ],
        "operationId": "createShareLink",
        "summary": "Create a tag share link",
        "description": "Mints a public, expiring share link for a tag that is linked to hardware. Links always expire: send `expiresInSeconds` or `expiresAt`, or accept the default (90 days). API-minted links can never be set to never-expire. The share URL is returned exactly once in this response. Send an `Idempotency-Key` header to make a retry safe. Requires `manage:share-links`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShareLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ShareLinkCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/share-links/{shareLinkId}": {
      "parameters": [
        {
          "name": "shareLinkId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Share Links"
        ],
        "operationId": "getShareLink",
        "summary": "Get a tag share link",
        "description": "Returns a single share link, including its current status and access counts. Requires `read:share-links`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShareLink"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Share Links"
        ],
        "operationId": "revokeShareLink",
        "summary": "Revoke a tag share link",
        "description": "Revokes the share link so its public URL stops resolving. The record and its access history are retained. Idempotent: revoking an already-revoked link still returns 200. Requires `manage:share-links`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShareLinkRevoked"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getAccount",
        "summary": "Get the current workspace",
        "description": "Returns the workspace that owns the API key (a \"whoami\"): profile and plan summary. Any valid key for the workspace may call it; no extra scope is required. Stripe identifiers, billing internals, and administrative flags are never included.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Account"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getUsage",
        "summary": "Get API usage for this key",
        "description": "Returns per-day request counts for the calling API key (identified by its own key id, not the whole workspace). Counts are request totals, not billing units. Rollups are retained ~40 days, then expire. Any valid key may call it; no extra scope is required.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of trailing days to return, ending today (UTC). Default 30, max 40; out-of-range values are clamped.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Usage"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "operationId": "getOpenApiSpec",
        "summary": "This OpenAPI document",
        "security": [],
        "description": "Returns this OpenAPI 3.1 specification. Public; no authentication required.",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/llms.txt": {
      "get": {
        "tags": [
          "Meta"
        ],
        "operationId": "getLlmsTxt",
        "summary": "LLM-friendly API summary",
        "security": [],
        "description": "Returns a plaintext, LLM-friendly overview of the API. Public; no authentication required.",
        "responses": {
          "200": {
            "description": "Plaintext API summary.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "tag.moved": {
      "post": {
        "operationId": "webhookTagMoved",
        "summary": "A tag moved farther than the movement threshold since its last anchor point.",
        "description": "TagLogger sends this POST to your subscription URL. Respond 2xx to acknowledge. Verify the X-TagLogger-Signature header before trusting the body.",
        "parameters": [
          {
            "name": "X-TagLogger-Signature",
            "in": "header",
            "required": false,
            "description": "sha256=<hex HMAC-SHA256 of the raw request body, computed with the subscription's signing secret>. Always present for API-created subscriptions (they always have a signing secret).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagWebhookDelivery"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx response acknowledges the delivery. Non-2xx responses and timeouts are treated as failures and retried automatically with exponential backoff (delivery is at-least-once), so the same event may arrive more than once — dedupe on the payload `id` and keep your handler idempotent."
          }
        }
      }
    },
    "tag.battery_low": {
      "post": {
        "operationId": "webhookTagBatteryLow",
        "summary": "A tag reported a low (status 3) or critical (status 4) battery level.",
        "description": "TagLogger sends this POST to your subscription URL. Respond 2xx to acknowledge. Verify the X-TagLogger-Signature header before trusting the body.",
        "parameters": [
          {
            "name": "X-TagLogger-Signature",
            "in": "header",
            "required": false,
            "description": "sha256=<hex HMAC-SHA256 of the raw request body, computed with the subscription's signing secret>. Always present for API-created subscriptions (they always have a signing secret).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagWebhookDelivery"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx response acknowledges the delivery. Non-2xx responses and timeouts are treated as failures and retried automatically with exponential backoff (delivery is at-least-once), so the same event may arrive more than once — dedupe on the payload `id` and keep your handler idempotent."
          }
        }
      }
    },
    "tag.offline": {
      "post": {
        "operationId": "webhookTagOffline",
        "summary": "A tag stopped reporting locations for longer than the offline threshold.",
        "description": "TagLogger sends this POST to your subscription URL. Respond 2xx to acknowledge. Verify the X-TagLogger-Signature header before trusting the body.",
        "parameters": [
          {
            "name": "X-TagLogger-Signature",
            "in": "header",
            "required": false,
            "description": "sha256=<hex HMAC-SHA256 of the raw request body, computed with the subscription's signing secret>. Always present for API-created subscriptions (they always have a signing secret).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagWebhookDelivery"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx response acknowledges the delivery. Non-2xx responses and timeouts are treated as failures and retried automatically with exponential backoff (delivery is at-least-once), so the same event may arrive more than once — dedupe on the payload `id` and keep your handler idempotent."
          }
        }
      }
    },
    "geofence.entry": {
      "post": {
        "operationId": "webhookGeofenceEntry",
        "summary": "A tag entered one of your geofences.",
        "description": "TagLogger sends this POST to your subscription URL. Respond 2xx to acknowledge. Verify the X-TagLogger-Signature header before trusting the body.",
        "parameters": [
          {
            "name": "X-TagLogger-Signature",
            "in": "header",
            "required": false,
            "description": "sha256=<hex HMAC-SHA256 of the raw request body, computed with the subscription's signing secret>. Always present for API-created subscriptions (they always have a signing secret).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeofenceWebhookDelivery"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx response acknowledges the delivery. Non-2xx responses and timeouts are treated as failures and retried automatically with exponential backoff (delivery is at-least-once), so the same event may arrive more than once — dedupe on the payload `id` and keep your handler idempotent."
          }
        }
      }
    },
    "geofence.exit": {
      "post": {
        "operationId": "webhookGeofenceExit",
        "summary": "A tag left one of your geofences.",
        "description": "TagLogger sends this POST to your subscription URL. Respond 2xx to acknowledge. Verify the X-TagLogger-Signature header before trusting the body.",
        "parameters": [
          {
            "name": "X-TagLogger-Signature",
            "in": "header",
            "required": false,
            "description": "sha256=<hex HMAC-SHA256 of the raw request body, computed with the subscription's signing secret>. Always present for API-created subscriptions (they always have a signing secret).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeofenceWebhookDelivery"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx response acknowledges the delivery. Non-2xx responses and timeouts are treated as failures and retried automatically with exponential backoff (delivery is at-least-once), so the same event may arrive more than once — dedupe on the payload `id` and keep your handler idempotent."
          }
        }
      }
    },
    "geofence.dwell": {
      "post": {
        "operationId": "webhookGeofenceDwell",
        "summary": "A tag stayed outside one of your geofences past its dwell threshold.",
        "description": "TagLogger sends this POST to your subscription URL. Respond 2xx to acknowledge. Verify the X-TagLogger-Signature header before trusting the body.",
        "parameters": [
          {
            "name": "X-TagLogger-Signature",
            "in": "header",
            "required": false,
            "description": "sha256=<hex HMAC-SHA256 of the raw request body, computed with the subscription's signing secret>. Always present for API-created subscriptions (they always have a signing secret).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeofenceWebhookDelivery"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx response acknowledges the delivery. Non-2xx responses and timeouts are treated as failures and retried automatically with exponential backoff (delivery is at-least-once), so the same event may arrive more than once — dedupe on the payload `id` and keep your handler idempotent."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API key sent as `Authorization: Bearer <key>`."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Workspace API key sent as the `X-API-Key` header."
      }
    },
    "parameters": {
      "TagId": {
        "name": "tagId",
        "in": "path",
        "required": true,
        "description": "The tag's identifier.",
        "schema": {
          "type": "string"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Optional. A client-chosen unique string (max 255 printable-ASCII chars) that makes this create safe to retry: the first request runs and its response is recorded, and a later request with the same key replays that same response (with an `Idempotent-Replayed: true` header) instead of creating a duplicate. Reusing a key with a different request body returns 409 `idempotency_key_reused`; a request still in flight returns 409 `idempotency_conflict`. Records expire after 24 hours.",
        "schema": {
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "headers": {
      "X-Request-Id": {
        "description": "Opaque request identifier. Propagated from the caller's X-Request-Id header if present; otherwise generated from the Cloud Trace context or a fresh UUID. Include in bug reports to allow log correlation.",
        "schema": {
          "type": "string"
        }
      },
      "X-RateLimit-Limit": {
        "description": "Requests permitted per fixed window for this key tier.",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "Unix epoch seconds at which the current window resets.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Limit": {
        "description": "Requests permitted per fixed window for this key tier (IETF RateLimit standard; same value as X-RateLimit-Limit).",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Remaining": {
        "description": "Requests remaining in the current window (IETF RateLimit standard; same value as X-RateLimit-Remaining).",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimit-Reset": {
        "description": "Seconds remaining until the current window resets (IETF RateLimit standard; delta-seconds, NOT the epoch value carried by X-RateLimit-Reset).",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code. Two distinct codes share HTTP 403: `forbidden` (the key lacks the required scope — fix the key's scopes) and `api_disabled` (the Developer API is not enabled for the workspace — create an API key in your dashboard to enable it). Two share HTTP 429: `rate_limited` (the per-key request budget; honor the X-RateLimit-* and Retry-After headers) and `too_many_requests` (the per-IP authentication-failure backstop on unauthenticated traffic). This list is open: new codes may be added without a version bump, so match on a code only when you recognize it and otherwise fall back to the HTTP status.",
                "x-extensible-enum": [
                  "unauthorized",
                  "forbidden",
                  "api_disabled",
                  "not_found",
                  "method_not_allowed",
                  "unsupported_media_type",
                  "limit_exceeded",
                  "rate_limited",
                  "too_many_requests",
                  "invalid_body",
                  "invalid_url",
                  "invalid_events",
                  "invalid_label",
                  "invalid_active",
                  "invalid_range",
                  "invalid_geofence",
                  "invalid_target_tags",
                  "invalid_expiry",
                  "tag_not_shareable",
                  "invalid_idempotency_key",
                  "idempotency_key_reused",
                  "idempotency_conflict",
                  "internal"
                ]
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "BatteryStatus": {
        "type": "object",
        "description": "Battery state. `level` is reserved and currently always null; `status` is the raw battery status code.",
        "properties": {
          "level": {
            "type": [
              "number",
              "null"
            ]
          },
          "status": {
            "type": [
              "integer",
              "null"
            ]
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "LocationSummary": {
        "type": "object",
        "description": "Coarse last-known position (coordinates + timestamp only).",
        "properties": {
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "timestampMs": {
            "type": "integer",
            "description": "Same instant as `timestamp`, in epoch milliseconds (parity with LocationPoint)."
          }
        }
      },
      "LocationPoint": {
        "type": "object",
        "description": "A recorded location fix.",
        "properties": {
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "timestampMs": {
            "type": "integer"
          },
          "accuracy": {
            "type": [
              "number",
              "null"
            ],
            "description": "Horizontal accuracy in meters."
          },
          "altitude": {
            "type": [
              "number",
              "null"
            ]
          },
          "verticalAccuracy": {
            "type": [
              "number",
              "null"
            ]
          },
          "floorLevel": {
            "type": [
              "number",
              "null"
            ]
          },
          "isInaccurate": {
            "type": "boolean"
          },
          "isOld": {
            "type": "boolean"
          },
          "locationFinished": {
            "type": "boolean"
          },
          "battery": {
            "type": "object",
            "properties": {
              "level": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "status": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "description": "Provisioning status, e.g. `pending_hardware` or `linked`."
          },
          "isActive": {
            "type": "boolean"
          },
          "hardwareId": {
            "type": [
              "string",
              "null"
            ]
          },
          "battery": {
            "$ref": "#/components/schemas/BatteryStatus"
          },
          "lastLocation": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/LocationSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "recordingPaused": {
            "type": "boolean"
          }
        }
      },
      "FleetDeltaItem": {
        "type": "object",
        "properties": {
          "tagId": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "hardwareId": {
            "type": "string"
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "recordingPaused": {
            "type": "boolean"
          },
          "battery": {
            "$ref": "#/components/schemas/BatteryStatus"
          },
          "location": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/LocationPoint"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Geofence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "center": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "lng": {
                    "type": "number"
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "radiusMeters": {
            "type": [
              "number",
              "null"
            ]
          },
          "targetTagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tag ids this geofence targets; may include the sentinel `all`."
          },
          "targetsAllTags": {
            "type": "boolean"
          },
          "alerts": {
            "type": "object",
            "properties": {
              "onEntry": {
                "type": "boolean"
              },
              "onExit": {
                "type": "boolean"
              },
              "dwellEnabled": {
                "type": "boolean"
              },
              "dwellMinutes": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "emailEnabled": {
                "type": "boolean"
              },
              "emailAddress": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "pushEnabled": {
                "type": "boolean"
              },
              "webhookEnabled": {
                "type": "boolean"
              },
              "webhookTargetIds": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "signingSecretSet": {
            "type": "boolean"
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "WebhookWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "signingSecret": {
                "type": "string",
                "description": "The HMAC signing secret (prefix `whsec_`). Shown only at creation and rotation."
              }
            }
          }
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "description": "A single delivery attempt record for a webhook subscription. The outbound payload body is not included.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Opaque delivery record id."
          },
          "webhookId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The subscription this delivery belongs to."
          },
          "event": {
            "type": [
              "string",
              "null"
            ],
            "description": "The event type that was delivered."
          },
          "eventId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The delivered envelope's `id` — matches the `id` field your endpoint received, for correlation and idempotent dedup."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "failed",
              "delivered",
              "permanent_failed"
            ],
            "description": "Current delivery state. `delivered` = your endpoint returned 2xx. `failed` = retryable failure, another attempt is scheduled. `permanent_failed` = retries exhausted or the subscription was removed/disabled."
          },
          "attempts": {
            "type": "integer",
            "description": "Number of delivery attempts made so far."
          },
          "maxAttempts": {
            "type": "integer",
            "description": "Attempt ceiling before the delivery is marked permanently failed."
          },
          "lastError": {
            "type": [
              "string",
              "null"
            ],
            "description": "Short description of the most recent failure, if any."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastAttemptAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "deliveredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "nextAttemptAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the next retry is scheduled, for a delivery still being retried. Absent once a delivery is delivered or permanently failed."
          }
        }
      },
      "WebhookEventType": {
        "type": "string",
        "description": "Subscribable event type. tag.* events (tag.moved, tag.battery_low, tag.offline) are delivered by the API event monitor. geofence.* events (geofence.entry, geofence.exit, geofence.dwell) are delivered by the API geofence event monitor and mirror the entry/exit/dwell transitions of your geofences. Each monitor is independently operator-gated and off by default at launch: a newly created subscription begins receiving deliveries automatically once delivery is enabled for production — no changes are needed on your side, and existing subscriptions activate on their own. Delivery is at-least-once: a failed POST (non-2xx or timeout) is retried automatically with exponential backoff for several attempts before being marked permanently failed. Because of retries the same event may arrive more than once, so make your handler idempotent by de-duplicating on the payload `id` field. Inspect delivery status and attempts via GET /v1/webhooks/{webhookId}/deliveries. Webhooks remain a low-latency notification, not a ledger: reconcile against GET /v1/fleet/delta (or the tag / geofence reads) as the durable source of truth. API-managed geofence.* deliveries are independent of the per-geofence alert configuration in the app: subscribing here does not change which integrations a geofence emails or notifies, and vice versa. POST /v1/webhooks/{webhookId}/test always delivers a sample signed event so you can verify connectivity and signature handling regardless of these gates.",
        "enum": [
          "geofence.entry",
          "geofence.exit",
          "geofence.dwell",
          "tag.moved",
          "tag.battery_low",
          "tag.offline"
        ]
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS endpoint to receive deliveries. Must be public (SSRF-guarded); max 2000 chars."
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            },
            "description": "Event types to subscribe to. Omit to subscribe to all types. Delivery gating still applies: tag.* and geofence.* are each independently operator-gated (off by default) — see WebhookEventType."
          },
          "label": {
            "type": "string",
            "description": "Optional human label, max 120 characters. A longer value is rejected with `invalid_label` (it is not silently truncated). Omit to default to \"API webhook\"."
          }
        }
      },
      "PatchWebhookRequest": {
        "type": "object",
        "description": "Any subset of fields. Omitted fields are left unchanged.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "label": {
            "type": "string",
            "description": "Human label, 1–120 characters. Empty/blank or a value over 120 characters is rejected with `invalid_label`."
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "GeofenceCenter": {
        "type": "object",
        "required": [
          "lat",
          "lng"
        ],
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          }
        }
      },
      "GeofenceAlertsInput": {
        "type": "object",
        "description": "Dwell alerting. Entry and exit are always tracked, so they are not settable here; in-app email and push channels are dashboard-only and cannot be enabled by an API write. An unrecognized field (e.g. onEntry, emailEnabled) is rejected with `invalid_geofence` rather than silently ignored.",
        "properties": {
          "dwellEnabled": {
            "type": "boolean",
            "description": "Emit a `geofence.dwell` event when a tag stays outside for dwellMinutes (a \"still outside\" reminder). When true, dwellMinutes is required (here or already stored)."
          },
          "dwellMinutes": {
            "type": "integer",
            "minimum": 30,
            "maximum": 20160,
            "description": "Dwell threshold in minutes (30 to 20160 = 14 days)."
          }
        },
        "additionalProperties": false
      },
      "CreateGeofenceRequest": {
        "type": "object",
        "required": [
          "name",
          "center",
          "radiusMeters",
          "targetTagIds"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name, 1–200 characters."
          },
          "center": {
            "$ref": "#/components/schemas/GeofenceCenter"
          },
          "radiusMeters": {
            "type": "number",
            "minimum": 10,
            "maximum": 100000,
            "description": "Circle radius in meters (10 to 100000)."
          },
          "targetTagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Tag ids to monitor (1 to 200), or the single sentinel `[\"all\"]` to monitor every tag in the workspace. The sentinel and any explicit id must be within the key's tag scope, and each explicit id must resolve to a real tag."
          },
          "alerts": {
            "$ref": "#/components/schemas/GeofenceAlertsInput"
          }
        }
      },
      "UpdateGeofenceRequest": {
        "type": "object",
        "description": "Any subset of fields. Omitted fields are left unchanged. Supplying only one of center / radiusMeters edits that part of the circle and re-validates the result against the stored value.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name, 1–200 characters."
          },
          "center": {
            "$ref": "#/components/schemas/GeofenceCenter"
          },
          "radiusMeters": {
            "type": "number",
            "minimum": 10,
            "maximum": 100000
          },
          "targetTagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "alerts": {
            "$ref": "#/components/schemas/GeofenceAlertsInput"
          }
        }
      },
      "TagWebhookDelivery": {
        "type": "object",
        "description": "The JSON body TagLogger POSTs to your endpoint for a tag.* event delivery.",
        "required": [
          "id",
          "event",
          "occurredAt",
          "test",
          "tag",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique delivery id; safe to use as an idempotency key."
          },
          "event": {
            "type": "string",
            "description": "The event type. This set may grow over time; handle unknown values gracefully.",
            "x-extensible-enum": [
              "tag.moved",
              "tag.battery_low",
              "tag.offline"
            ]
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "test": {
            "type": "boolean",
            "description": "True only for deliveries triggered by the /test endpoint."
          },
          "tag": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "hardwareId": {
                "type": "string"
              }
            }
          },
          "data": {
            "type": "object",
            "description": "Event-specific payload. tag.moved: { from: {lat,lng}, to: {lat,lng}, distanceMeters }. tag.battery_low: { status, critical }. tag.offline: { lastSeenAt, staleSeconds }.",
            "additionalProperties": true
          }
        }
      },
      "GeofenceWebhookDelivery": {
        "type": "object",
        "description": "The JSON body TagLogger POSTs to your endpoint for a geofence.* event delivery. Same envelope as TagWebhookDelivery; `data` carries the geofence and the location at the transition.",
        "required": [
          "id",
          "event",
          "occurredAt",
          "test",
          "tag",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique delivery id; safe to use as an idempotency key."
          },
          "event": {
            "type": "string",
            "description": "The event type. This set may grow over time; handle unknown values gracefully.",
            "x-extensible-enum": [
              "geofence.entry",
              "geofence.exit",
              "geofence.dwell"
            ]
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the transition was recorded."
          },
          "test": {
            "type": "boolean",
            "description": "True only for deliveries triggered by the /test endpoint."
          },
          "tag": {
            "type": "object",
            "description": "The tag that crossed the geofence boundary.",
            "properties": {
              "id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "hardwareId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "data": {
            "type": "object",
            "description": "Geofence transition payload.",
            "properties": {
              "geofence": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The geofence identifier."
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The geofence display name."
                  }
                }
              },
              "location": {
                "type": [
                  "object",
                  "null"
                ],
                "description": "The tag location at the transition, or null if unavailable.",
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "lng": {
                    "type": "number"
                  }
                }
              },
              "dwellMinutes": {
                "type": "integer",
                "description": "Present only on geofence.dwell: the configured dwell threshold in minutes."
              }
            },
            "additionalProperties": true
          }
        }
      },
      "ListEnvelope": {
        "type": "object",
        "required": [
          "data",
          "nextCursor"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `cursor` for the next page; null at the end."
          }
        }
      },
      "Plan": {
        "type": "object",
        "description": "Plan summary for the workspace.",
        "properties": {
          "status": {
            "type": [
              "string",
              "null"
            ],
            "description": "Subscription status, e.g. `active`, `trialing`, `past_due`, or `cancelled`. Null if the workspace has no plan on record."
          },
          "seats": {
            "type": "integer",
            "description": "Number of seats (tags) the plan covers."
          },
          "billingCycle": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "monthly",
              "annual",
              null
            ],
            "description": "Billing interval, or null if not on a recurring plan."
          },
          "billingSource": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "stripe",
              "invoice",
              null
            ],
            "description": "How the workspace is billed, or null if unknown."
          }
        }
      },
      "Account": {
        "type": "object",
        "description": "The workspace that owns the API key.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable workspace identifier."
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "displayName": {
            "type": [
              "string",
              "null"
            ]
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "apiEnabled": {
            "type": "boolean",
            "description": "Whether the Developer API is enabled for this workspace."
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          }
        }
      },
      "UsageDay": {
        "type": "object",
        "description": "Request count for a single UTC day.",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "UTC calendar day (YYYY-MM-DD)."
          },
          "count": {
            "type": "integer",
            "description": "Number of API requests this key made that day."
          }
        }
      },
      "Usage": {
        "type": "object",
        "description": "Per-day API request counts for one key.",
        "properties": {
          "keyId": {
            "type": "string",
            "description": "The calling key's identifier (usage is per key, not per workspace)."
          },
          "days": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageDay"
            },
            "description": "Oldest-to-newest, one entry per day in the requested window. Days with no traffic report count 0."
          },
          "totalRequests": {
            "type": "integer",
            "description": "Sum of `count` across the returned days."
          }
        }
      },
      "ShareLink": {
        "type": "object",
        "description": "A public, expiring share link for a single tag. Anyone holding the `url` can view that tag's current location until the link expires or is revoked.",
        "required": [
          "id",
          "tagId",
          "url",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable share-link identifier. Use it on `/v1/share-links/{shareLinkId}`."
          },
          "tagId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The shared tag's identifier."
          },
          "tagName": {
            "type": [
              "string",
              "null"
            ],
            "description": "The tag's display name captured when the link was minted."
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The public share URL. The unguessable token is part of this URL — treat it as a capability and share it only with intended viewers."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "expired",
              "revoked"
            ],
            "description": "Lifecycle state: `active` resolves; `expired` passed its expiry; `revoked` was revoked."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the link stops resolving. API-minted links always carry an expiry."
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the link was revoked, or null if it has not been revoked."
          },
          "accessCountTotal": {
            "type": "integer",
            "description": "Total number of times the link has been viewed."
          },
          "accessCountUnique": {
            "type": "integer",
            "description": "Approximate number of distinct viewers."
          },
          "lastAccessedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the link was last viewed, or null if never."
          }
        }
      },
      "CreateShareLinkRequest": {
        "type": "object",
        "required": [
          "tagId"
        ],
        "description": "Provide at most one of `expiresInSeconds` or `expiresAt`. Omitting both defaults to the maximum share-link lifetime (90 days unless the workspace is configured otherwise). API-minted links can never be set to never-expire.",
        "properties": {
          "tagId": {
            "type": "string",
            "description": "The tag to share. Must be linked to hardware; within the key's tag scope."
          },
          "name": {
            "type": "string",
            "description": "Optional display name to snapshot onto the link. Defaults to the tag's current name."
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 60,
            "description": "Lifetime from now, in seconds. Minimum 60; clamped to the maximum share-link lifetime."
          },
          "expiresAt": {
            "description": "Absolute expiry as an ISO 8601 timestamp or epoch milliseconds. Must be at least 60 seconds out and within the maximum lifetime.",
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "integer"
              }
            ]
          }
        }
      }
    },
    "responses": {
      "TagList": {
        "description": "A page of tags.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ListEnvelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "Tag": {
        "description": "A single tag.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        }
      },
      "TagLocation": {
        "description": "The tag's current location (null when unavailable or paused).",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LocationPoint"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "recordingPaused": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "TagHistory": {
        "description": "A page of historical location points.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ListEnvelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LocationPoint"
                      }
                    },
                    "recordingPaused": {
                      "type": "boolean"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "TagBattery": {
        "description": "The tag's battery status.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/BatteryStatus"
                }
              }
            }
          }
        }
      },
      "Account": {
        "description": "The current workspace.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "Usage": {
        "description": "Per-day request counts for the calling key.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          }
        }
      },
      "FleetDelta": {
        "description": "A page of changed tags.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ListEnvelope"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FleetDeltaItem"
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "GeofenceList": {
        "description": "A page of geofences.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/X-Request-Id"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "RateLimit-Limit": {
[...]
